.main-style {
    width: calc(100% - 360px);
    position: fixed;
    top: 0;
    right: 60px;
    bottom: 0;
    background-color: #242828;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

.text-color {
  color: white;
}

.home {
  width: 100%;
  background-image: url("../../images/background.webp");
  background-size: cover;
  height: 350px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(36, 40, 40, 1) 0%,
    rgba(254, 255, 245, 0.3939775739397321) 52%
  );
  padding: 20px;
}

.profile-home {
  width: 100%;
  height: 100%;
  padding: 50px;
  background-color: #ffffff27;
}

.img {
  width: 500px;
}

.profile-home h1 {
  color: #000000;
  font-size: 2.5em;
  width: 50%;
  font-weight: 500;
  
}

.repo-container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.repo-list,
.repo-list li {
  display: flex;
  width: 100%;
  align-items: center;
}

.repo-list {
  justify-content: space-between;
  gap: 20px;
}

.repo-list li {
  gap: 10px;
}

.repo-list h2 {
  font-weight: 600;
  font-size: 20px;
  color: cyan;
}

.repo-list span {
  color: #fff;
  font-weight: 500;
}

.service-title {
  color: #fff;
  padding-bottom: 20px;
  font-weight: 500;
}

.servicelist {
  padding-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.service-item {
  width: 100%;
  padding: 10px;
  background-color: #3c4141;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.service-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-icon {
    width: 30px;
    height: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.service-icon i {
    color: #000000;
}

.service-item h2 {
  color: #fff;
  font-weight: 500;
  font-size: 1.1em;
}

.service-item p {
  color: #fcfafa;
  font-size: 13px;
}
